html {
  box-sizing: border-box;
  font-family: Omnes;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  text-align: center;
}

::placeholder {
  color: #ccc;
}
