@font-face {
  font-family: Open Sans;
  src: url('/font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Open Sans;
  src: url('/font/OpenSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Open Sans;
  src: url('/font/OpenSans-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Open Sans;
  src: url('/font/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Roboto Slab;
  src: url('/font/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: Roboto Slab;
  src: url('/font/RobotoSlab-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Roboto Slab;
  src: url('/font/RobotoSlab-Bold.ttf');
  font-weight: bold;
}

html {
  box-sizing: border-box;
  font-family: Open Sans;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  text-align: center;
}

::placeholder {
  color: #ccc;
}

.recharts-surface {
  overflow: visible;
}
